# See http://www.appveyor.com/docs/appveyor-yml for many more options

# Build worker image (VM template)
image: Visual Studio 2017

# clone directory
clone_folder: C:\MyProjects\VSCodeBackup

environment:
  NugetApiKey:
    secure: Xt2Pj7t2YpEar02P6LosJYXpBmVvKG4IFc48TmZn9Zsrdp3Lh4NfMH3XYd8zy2Sv

# Skip on updates to the readme.
# We can force this by adding [skip ci] or [ci skip] anywhere in commit message 
skip_commits:
  message: /updated (readme|doc).*|update (readme|doc).*s/

# build cache to preserve files/folders between builds
cache:
  - _build-cache -> *.depend.psd1

build: false

#Kick off the CI/CD pipeline
test_script:
  - ps: . .\build.ps1
